/*
 * SPDX-FileCopyrightText: 2024 Manu Amestoy
 *
 * SPDX-License-Identifier: MIT
 */

:root {
  --primary-50: rgba(255, 226, 212, 1);
  --primary-100: rgba(255, 197, 170, 1);
  --primary-200: rgba(255, 167, 127, 1);
  --primary-300: rgba(255, 138, 84, 1);
  --primary-400: rgba(255, 109, 42, 1);
  --primary-500: rgba(254, 80, 0, 1);
  --primary-600: rgba(212, 67, 0, 1);
  --primary-700: rgba(169, 53, 0, 1);
  --primary-800: rgba(127, 40, 0, 1);
  --primary-900: rgba(85, 27, 0, 1);
  --primary-1000: rgba(42, 13, 0, 1);
  --secundary-50: rgba(235, 235, 235, 1);
  --secundary-100: rgba(214, 214, 214, 1);
  --secundary-200: rgba(194, 194, 194, 1);
  --secundary-300: rgba(174, 174, 174, 1);
  --secundary-400: rgba(153, 153, 153, 1);
  --secundary-500: rgba(133, 133, 133, 1);
  --secundary-600: rgba(114, 114, 114, 1);
  --secundary-700: rgba(95, 95, 95, 1);
  --secundary-800: rgba(76, 76, 76, 1);
  --secundary-900: rgba(57, 57, 57, 1);
  --secundary-1000: rgba(38, 38, 38, 1);
  --success-50: rgba(232, 252, 233, 1);
  --success-100: rgba(210, 248, 212, 1);
  --success-200: rgba(187, 244, 191, 1);
  --success-300: rgba(164, 241, 169, 1);
  --success-400: rgba(142, 237, 148, 1);
  --success-500: rgba(119, 234, 126, 1);
  --success-600: rgba(68, 226, 78, 1);
  --success-700: rgba(31, 204, 42, 1);
  --success-800: rgba(24, 153, 31, 1);
  --success-900: rgba(16, 102, 21, 1);
  --success-1000: rgba(8, 51, 10, 1);
  --warning-50: rgba(252, 246, 214, 1);
  --warning-100: rgba(249, 237, 174, 1);
  --warning-200: rgba(246, 228, 133, 1);
  --warning-300: rgba(243, 219, 93, 1);
  --warning-400: rgba(240, 210, 52, 1);
  --warning-500: rgba(232, 197, 17, 1);
  --warning-600: rgba(193, 164, 14, 1);
  --warning-700: rgba(155, 131, 11, 1);
  --warning-800: rgba(116, 98, 8, 1);
  --warning-900: rgba(77, 66, 6, 1);
  --warning-1000: rgba(39, 33, 3, 1);
  --error-50: rgba(255, 222, 224, 1);
  --error-100: rgba(254, 188, 193, 1);
  --error-200: rgba(254, 155, 162, 1);
  --error-300: rgba(253, 121, 130, 1);
  --error-400: rgba(252, 88, 99, 1);
  --error-500: rgba(252, 54, 68, 1);
  --error-600: rgba(215, 3, 18, 1);
  --error-700: rgba(172, 3, 15, 1);
  --error-800: rgba(129, 2, 11, 1);
  --error-900: rgba(86, 1, 7, 1);
  --error-1000: rgba(43, 1, 4, 1);
  --neutral-50: rgba(252, 254, 254, 1);
  --neutral-100: rgba(248, 254, 252, 1);
  --neutral-200: rgba(245, 253, 251, 1);
  --neutral-300: rgba(242, 252, 249, 1);
  --neutral-400: rgba(238, 252, 248, 1);
  --neutral-500: rgba(235, 251, 246, 1);
  --neutral-600: rgba(167, 238, 216, 1);
  --neutral-700: rgba(100, 224, 185, 1);
  --neutral-800: rgba(41, 202, 152, 1);
  --neutral-900: rgba(27, 135, 101, 1);
  --neutral-1000: rgba(14, 67, 51, 1);
  --shades-50: rgba(255, 255, 255, 1);
  --shades-100: rgba(0, 0, 0, 1);
  --paragraph-01-regular-font-family: "Inter", Helvetica;
  --paragraph-01-regular-font-weight: 400;
  --paragraph-01-regular-font-size: 16px;
  --paragraph-01-regular-letter-spacing: 0px;
  --paragraph-01-regular-line-height: normal;
  --paragraph-01-regular-font-style: normal;
  --paragraph-01-medium-font-family: "Inter", Helvetica;
  --paragraph-01-medium-font-weight: 500;
  --paragraph-01-medium-font-size: 16px;
  --paragraph-01-medium-letter-spacing: 0px;
  --paragraph-01-medium-line-height: normal;
  --paragraph-01-medium-font-style: normal;
  --paragraph-01-blod-font-family: "Inter", Helvetica;
  --paragraph-01-blod-font-weight: 700;
  --paragraph-01-blod-font-size: 16px;
  --paragraph-01-blod-letter-spacing: 0px;
  --paragraph-01-blod-line-height: normal;
  --paragraph-01-blod-font-style: normal;
  --paragraph-01-s-regular-font-family: "Inter", Helvetica;
  --paragraph-01-s-regular-font-weight: 400;
  --paragraph-01-s-regular-font-size: 14px;
  --paragraph-01-s-regular-letter-spacing: 0px;
  --paragraph-01-s-regular-line-height: normal;
  --paragraph-01-s-regular-font-style: normal;
  --paragraph-01-s-medium-font-family: "Inter", Helvetica;
  --paragraph-01-s-medium-font-weight: 500;
  --paragraph-01-s-medium-font-size: 14px;
  --paragraph-01-s-medium-letter-spacing: 0px;
  --paragraph-01-s-medium-line-height: normal;
  --paragraph-01-s-medium-font-style: normal;
  --paragraph-01-s-blod-font-family: "Inter", Helvetica;
  --paragraph-01-s-blod-font-weight: 700;
  --paragraph-01-s-blod-font-size: 14px;
  --paragraph-01-s-blod-letter-spacing: 0px;
  --paragraph-01-s-blod-line-height: normal;
  --paragraph-01-s-blod-font-style: normal;
}
